body {
  background-color: rgb(46, 46, 46);
  margin: 0;
  min-height: 100vh;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
  display: block;
}
